{{#vertical-collection records tagName='' estimateHeight=20 staticHeight=false idForFirstItem="row-0" bufferSize=20 renderAll=false
    containerSelector="tbody" as |record index|}}
    <tr id="row-{{index}}">
        <td>{{index}} - {{record.column1}}</td>
        <td>{{index}} - {{record.column2}}</td>
        <td>{{index}} - {{record.column3}}</td>
        <td>{{index}} - {{record.column4}}</td>
        <td>{{index}} - {{record.column5}}</td>
        <td>{{index}} - {{record.column6}}</td>
        <td>{{index}} - {{record.column7}}</td>
        <td>{{index}} - {{record.column8}}</td>
        <td>{{index}} - {{record.column9}}</td>
        <td>{{index}} - {{record.column10}}</td>
    </tr>
{{/vertical-collection}}